* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RobotoRegular", sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0.2rem;
  background: #e9ffe9;
}

.form-card{
  transition: 0.3s all ease;
  width: 70vw;
  background: white;
  border-radius: 60px;
  overflow: hidden;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  display: flex; 
  align-items: center;

}
.form{
  width: 55%;

  background: white;
}
.form-option{
  padding: 2rem 0.3rem;
  width: 45%;
  background: var(--main-color);
  border-radius: 50px 0 0 50px;
}
.main-form{
  padding: 5rem 2rem;
}
.main-form .form-group{
  border-bottom: 1px solid var( --other-color); 

}

.main-form .form-group input{
  border-radius: 20px 20px 0 0;
  padding: 8px 8px;
  letter-spacing: 0.50px;
  opacity: 0.7;
  font-size: 19px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}
main-form .form-group input[type="password"] {
  width: 90%;
}
.for-icon{
  width: 10%;
  /* height: 100%; */
  font-size: 19px;
  color: #1d9748;
  cursor: pointer;
}
.form-group:focus-within {
  border-bottom: 1px solid var(--main-color);
}
.form-group input:focus {
  background: transparent !important;
}
.forget{
  opacity: 0.6;
}

.main-btn{
  width: 100%;
  border: none;
  background: var(--main-color);
  height: 7.5vh;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 25px;
}
.form-option{
  color: white;
}
.form-option h2{
  font-size: 2rem;
}
.form-option span{
  font-size: 1.2rem;
  position: relative;
  top: -12px;
}
.btnn{
  position: relative;
  background: transparent;
  border: 2px solid white;

  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
  width: 10rem;
  height: 5vh;
  text-decoration: underline;
}
.warning > span{
  position: relative;
  text-decoration: underline;
  top: 40px;
  font-size: 1.5rem
}
