@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {font-family: "Poppins", "sans-serif";}

.no-scroll {overflow: hidden;}

#map { height: 400px; width: 100%; }

html {scroll-behavior: smooth;}

.active-link {position: relative;}

.active-link::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 2px;
  width: 70%;
  left: 0;
  bottom: -5px;
}
@media only screen and (max-width: 768px) {
  #menu { min-height: 100vh; }
}
.welc {
  color: black;
  display: inline;
  margin: 0;
  padding: 0 10px 0 0;
}

.welc .highlight { color: var(--main-color); }

.typed-cursor {
  position: relative;
  top: -2px;
  font-size: 1.7rem;
}

.main { scrollbar-width: none; }

.headf{
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.btn-st:active { transform: scale(0.90); }